body{
    user-select: none;
}

/* SECCIÓN CONÓCENOS */
.intro-section {
    background-color: #fff; /* Color de fondo de reserva */
    background-image: url('../imagenes/fondo-floral.jpg');
    background-size: cover;      /* La imagen cubre todo el contenedor */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height: auto;
    padding: 5%;
    padding-top: 8%;
    padding-bottom: 8%;
    justify-content: space-between;
}

.intro-container {
    display: flex;
    flex-wrap: wrap; /* Permite que se apilen en pantallas pequeñas */
    background-color: transparent;
    overflow: hidden; /* Asegura que el contenido respete los bordes redondeados */
    object-fit: cover;
}

.titulo-conocenos {
    font-size: 12vh;
    font-weight: 400;
    color: #3b3b3b;
}

.conocenos-texto {
    font-size: 5.5vh;
    font-weight: normal;
    color: #3b3b3b;
    padding-top: 3vh;
}

.intro-text-wrapper {
    flex: 1; /* Ocupa la mitad del espacio */
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
    background-color: transparent;
    color: #4a2c3a; /* Un color de texto que combina con el fondo */
    text-align: justify; /* Alineación del texto a la izquierda */
}

.intro-text-content {
   font-family: 'Instrument Serif', sans-serif;
}

.intro-image-wrapper {
    align-content: center;
    object-fit: cover; /* Evita que la imagen se deforme */
    display: block;
    padding-left: 5vw;
}

.intro-image-wrapper img {
    height: 54vh;
}

/* SECCIÓN MEDIA */
.media-feature-section {
    background-color: #ffdfdd; /* Fondo color rosado pálido */
    /* Ajustamos la altura máxima a 400px y añadimos padding */
    padding: 2vh 0; /* Espaciado vertical para margen, 0 horizontal para que el container interno lo gestione */
    height: auto; /* Altura máxima indicada */
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.media-container {
    display: flex;       /* Activa Flexbox */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;     /* Para móviles */
    gap: 10vh;            /* Aquí se separan las imágenes / elementos */
}

.media-item {
    display: flex;
}

.media-item img {
    width: 85vh;
    height: 45vh;
    object-fit: cover; /* Evita la deformación */
    display: block; /* Elimina espacio extra */
}

/*SECCIÓN CONÓCENOS RESPONSIVE*/
@media (max-width: 1082px) {
    .conocenos-texto {
        font-size: 5vh;
    }
}
@media (max-width: 944px) {
    .conocenos-texto {
        font-size: 4vh;
    }
}
@media (max-width: 849px) {
    .titulo-conocenos {
        font-size: 10vh;
    }
    .conocenos-texto {
        font-size: 3.8vh;
    }
    .intro-image-wrapper img {
        height: 44vh;
    }
}
@media (max-width: 720px) {
    .conocenos-texto {
        font-size: 3.8vh;
    }
    .intro-image-wrapper {
        width: 55vh;
    }
}
@media (max-width: 650px) {
    .intro-section {
        padding-bottom: 10%;
        padding-top: 8%;
        padding-left: 8%;
        padding-right: 8%;
    }

    .intro-container {
        display: flex;
        flex-direction: column; /* apila texto e imagen */
        align-items: center;    /* centra horizontalmente */
        justify-content: center;/* centra verticalmente */
        text-align: center;
    }

    .intro-image-wrapper {
        display: flex;
        justify-content: center; /* centra horizontalmente */
        align-items: center;     /* centra verticalmente */
        padding: 0;
        margin-top: 4vh;         /* un poco de espacio respecto al texto */
        width: 100%;
    }

    .intro-image-wrapper img {
        height: 54vh;
        padding-top: 2vh;
        object-fit: cover;
        display: block;
        margin: 0 auto; /* seguridad extra por si acaso */
    }
}
@media (max-width: 535px) {
    .titulo-conocenos {
        font-size: 10vh;
    }

    .conocenos-texto {
        font-size: 5vh;
    }
}
@media (max-width: 500px) {
    .titulo-conocenos{
        font-size: 8vh;
    }
    .conocenos-texto {
        font-size: 3.4vh;
        width: auto;
    }
}
/*FIN DE CONÓCENOS MEDIA RESPONSIVE*/

/*SECCIÓN MEDIA RESPONSIVE*/
@media (max-width: 1111px) {
    /* Estilo para la sección principal (Contenedor Rosado) */
    .media-feature-section {
        padding-left: 4vw;
        padding-right: 4vw;
    }
    .media-container {
        gap: 8vh;            /* Aquí se separan las imágenes / elementos */
    }

}
@media (max-width: 1075px) {
    /* Estilo para la sección principal (Contenedor Rosado) */
    .media-feature-section {
        padding-left: 2vw;
        padding-right: 2vw;
    }

    /* Contenedor para los dos elementos (GIF + Texto) */
    .media-container {
        gap: 3vw;            /* Aquí se separan las imágenes / elementos */
    }   
}
@media (max-width: 1040px) {
    /* Estilo para la sección principal (Contenedor Rosado) */
    .media-feature-section {
        padding-left: 1vw;
        padding-right: 1vw;
    }

    /* Contenedor para los dos elementos (GIF + Texto) */
    .media-container {
        gap: 2vw;            /* Aquí se separan las imágenes / elementos */
    }   
}
@media (max-width: 1030px) {
    /* Estilo para la sección principal (Contenedor Rosado) */
    .media-feature-section {
        padding-left: 5vw;
        padding-right: 5vw;
    }

    /* Contenedor para los dos elementos (GIF + Texto) */
    .media-container {
        gap: 5vw;            /* Aquí se separan las imágenes / elementos */
    }   

    .media-item img {
        width: 70vh;
    }
}
@media (max-width: 937px) {
    .media-item img {
        width: 66vh;
    }
}
@media (max-width: 883px) {
    .media-item img {
        width: 60vh;
    }
}
@media (max-width: 803px) {
    .media-item img {
        width: 50vh;
    }
}
@media (max-width: 669px) {
    .media-feature-section {
        padding-left: 3vw;
        padding-right: 3vw;
    }

    .media-container {
        gap: 5vw;
        flex-direction: column; /* apila los elementos verticalmente */
        align-items: center;    /* centra los elementos horizontalmente */
    }  

    .media-item {
        width: 100%; /* que cada media-item ocupe todo el ancho del contenedor */
    }

    .media-item img {
        width: 100%;      /* la imagen ocupa todo el ancho del media-item */
        height: auto;     /* mantiene proporción de la imagen */
        object-fit: cover; /* ajusta la imagen sin deformarla */
        display: block;   /* elimina espacios extra */
    }
}
/*FIN DE SECCIÓN MEDIA RESPONSIVE*/